parameters:
	level: 0
	bootstrapFiles:
		- /app/bootstrap/bootstrap.testing.php
		- ../framework/classes/phpstan/class.NonHtmlResponseHeaderDetectionRule.php
	paths:
		- modules-common/Form/classes/class.AbstractForm.php
		- modules-common/Form/classes/class.CaptureForm.php
		- modules-common/Form/classes/class.FormDescriptorAdapter.php
		- modules-common/Form/classes/class.FormDescriptorValidator.php
		- modules-common/Form/classes/class.FormDescriptorValidatorRegistry.php
		- modules-common/Form/classes/class.FormCaptureCompiledDescriptorCache.php
		- modules-common/Form/classes/class.FormCaptureCompiledDescriptorCacheGarbageCollector.php
		- modules-common/Form/classes/class.FormCaptureDefinitionRepository.php
		- modules-common/Form/classes/class.FormCaptureDescriptorSchemaValidator.php
		- modules-common/Form/classes/class.FormCaptureDescriptorSpecLoader.php
		- modules-common/Form/classes/class.FormCaptureAuthoringService.php
		- modules-common/Form/classes/class.FormCaptureDraftGarbageCollector.php
		- modules-common/Form/classes/class.FormCaptureEditorPaletteProvider.php
		- modules-common/Form/classes/class.FormCapturePreviewTreeContext.php
		- modules-common/Form/classes/class.FormCaptureSubmissionService.php
		- modules-common/Form/classes/class.FormBuilderEventHelper.php
		- modules-common/Form/classes/class.FormDefinitionResolution.php
		- modules-common/Form/classes/class.FormDefinitionResolver.php
		- modules-common/Form/classes/class.FormResponseEmitter.php
		- modules-common/Form/classes/class.FormSubmitContext.php
		- modules-common/Cms/classes/class.EditorDropTarget.php
		- modules-common/Cms/classes/class.EditorPaletteItem.php
		- modules-common/Cms/interfaces/interface.iEditorPaletteItemProvider.php
		- modules-common/Form/events/Event.FormSubmit.php
		- modules-common/Form/events/Event.FormBuilderCreate.php
		- modules-common/Form/events/Event.FormBuilderEditorFragment.php
		- modules-common/Form/events/Event.FormBuilderPreviewRender.php
		- modules-common/Form/events/Event.FormBuilderPublish.php
		- modules-common/Form/events/Event.FormBuilderSaveDraft.php
		- modules-common/Form/widgets/Widget.CaptureFormBuilder.php
		- modules-common/Form/widgets/Widget.CaptureFormList.php
		- modules-common/I18n/classes/ImportExportDataset.I18nTranslations.php
		- modules-common/Mailpit/classes/class.MailpitCatcherUrls.php
		- modules-common/Mailpit/classes/class.MailpitReadModel.php
		- modules-common/CLI/events/CLICommand.FormPublish.php
		- modules-common/CLI/events/CLICommand.FormSync.php
		- modules-common/CLI/events/CLICommand.FormCacheGc.php
		- modules-common/CLI/events/CLICommand.FormDraftGc.php
		- modules-common/Cms/classes/class.CmsPathHelper.php
		- modules-common/Cms/classes/class.CmsResourceSpecService.php
		- modules-common/Cms/classes/class.AbstractWebpageViewComposer.php
		- modules-common/Cms/classes/class.HtmlDebugDomStamper.php
		- modules-common/Cms/classes/class.HtmlRenderDebugCollector.php
		- modules-common/Cms/classes/class.HtmlTreeRenderer.php
		- modules-common/Cms/classes/class.ImageManipulator.php
		- modules-common/Cms/classes/class.Template.php
		- modules-common/Cms/interfaces/interface.iHtmlTemplateRuntime.php
		- modules-common/Cms/events/Event.ResourceView.php
		- modules-common/ImportExport/events/Event.ImportExportImport.php
		- modules-common/Comment/entities/Entity.Comment.php
		- modules-common/I18n/entities/Entity.I18n_build_state.php
		- modules-common/I18n/entities/Entity.I18n_messag.php
		- modules-common/I18n/entities/Entity.I18n_tm_entry.php
		- modules-common/I18n/entities/Entity.I18n_translation.php
		- modules-common/RichText/entities/Entity.Richtext.php
		- modules-common/Tags/entities/Entity.Tag.php
		- modules-common/Tags/entities/Entity.TagConnection.php
	scanFiles:
		- ../framework/classes/phpstan/class.NonHtmlResponseHeaderDetectionRule.php
	tmpDir: /app/tmp/phpstan-cms
	dynamicConstantNames:
		- USE_PERSISTENT_CACHE

includes:
	- /app/vendor/phpstan/phpstan/conf/bleedingEdge.neon

services:
	-
		# Loaded through the documented PHPStan command's -a flag so package repos do not need Composer autoload metadata.
		class: NonHtmlResponseHeaderDetectionRule
		tags:
			- phpstan.rules.rule
